{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="DOF Calculator">

        {% block extra_css %}{% endblock extra_css %}
          <link href="/static/tailwind.css" rel="stylesheet">
        <title>Depth of Field Calculator</title>
    </head>
    <body class="flex flex-col min-h-screen">
        <main class="flex justify-center items-center flex-1">{% block main %}{% endblock main %}</main>
    </body>
    <footer class="text-center py-4 bg-white">All rights reserved to RhapsodyGMZZ&copy;</footer>
</html>